.carousel {
    width: 840px;
    height: 400px;
    margin: 0 auto;
    position: relative;
  }
  .carousel__main {
    width: 640px;
    height: 400px;
    margin: 0 auto;
  }
  .carousel__prev {
    position: absolute;
    top: 150px;
    left: 20px;
    cursor: pointer;
    color: lightgray;
  }
  .carousel__prev:hover {
    transition-duration: 0.2s;
    transform: translateX(-10px);
  }
  .carousel__next {
    position: absolute;
    top: 150px;
    right: 20px;
    cursor: pointer;
    color: lightgray;
  }
  .carousel__next:hover {
    transition-duration: 0.2s;
    transform: translateX(10px);
  }
  .carousel__thumbnails {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  .carousel__thumbnails li {
    cursor: pointer;
    opacity: 0.4;
  }
  .carousel__thumbnails li:hover {
    opacity: 1;
  }
  .carousel__thumbnails li.current {
    opacity: 1;
  }
  .carousel__thumbnails img {
    width: 80px;
  }
  
  .active-enter {
    opacity: 0;
  }
  .active-enter-to {
    opacity: 1;
  }
  .active-enter-active {
    transition: opacity 0.5s;
  }
  .active-leave {
    opacity: 1;
  }
  .active-leave-to {
    opacity: 0;
  }
  .active-leave-active {
    transition: opacity 0.5s;
  }